*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

body{
  background-color: white;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 10vh;
  background-color: rgba(249,173,10,255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-logo img{
  width: 25vh;
  height: 8vh;
}

.navbar-tengah{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:bold;
  font-size: small;
}

.navbar-tengah ul, .navbar-kanan ul{
  list-style: none;
}

.navbar-tengah li, .navbar-kanan li{
  display: inline-block;
  padding: 0 4vh;
  color: white;
}

.navbar-tengah a{
  color: white;
}

.wrapper{
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  padding: 2vh 1vh;
}

.dropdown-courses {
  background-color: black;
  border-radius: 1vh;
  padding: 1vh 1vh;
}

.dropdown-courses li{
  display: block;
  padding: 1vh 0;
  text-align: left;
}

.dropdown-courses a:hover{
  border-bottom: 1px solid white;
}

.courses:hover .wrapper{
  display: block;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 10vh;
}

.header img{
  width: 150vh;
  object-fit: contain;
}

.penjelasan{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6vh 10vh;
  background-color: rgba(25,31,37,255);
  color: white;
  gap: 5vh;
}

.footer-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6vh 10vh;
  background-color: rgba(25,31,37,255);
  color: white;
  gap: 5vh;
  font-size: small;
}

.footer-2 ul{
  list-style-type: none;
}

.footer-2 li{
  display: inline-block;
  margin-left: 1vh;
  font-weight: bold;
}

.footer-content{
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 50vh;
  height: 50vh;
}

.footer-header{
  width: 100%;
  height: 15vh;
  display: flex;
  gap: 1vh;
  flex-direction: column;
}

.footer-header-data{
  font-size: x-large;
}

.footer-header img{
  width: inherit;
  height: inherit;
}

.footer-penjelasan, .footer-penjelasan-quicklink{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.footer-penjelasan ul, .footer-penjelasan-quicklink ul{
  list-style: none;
}

.footer-penjelasan li{
  display: inline-block;
}

.footer-penjelasan i{
  margin-left: 2vh;
}

.footer-penjelasan-quicklink li{
  font-size: small;
  margin: 0.3vh;
  display: flex;
  gap: 1vh;
}

.footer-penjelasan-quicklink button{
  margin: 5vh 0;
  height: 8vh;
  padding: 2vh 3vh;
  background-color: rgba(249,173,10,255);
  color: white;
  border-radius: 0.5vh;
}




/* animated transition */

/* Transition Layer */
.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.cd-transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-2%);
          transform: translateY(-50%) translateX(-2%);
  /* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
}
.cd-transition-layer.visible .bg-layer {
  -webkit-transform: translateY(-50%) translateX(-98%);
          transform: translateY(-50%) translateX(-98%);
}
.cd-transition-layer.opening .bg-layer, .cd-transition-layer.closing .bg-layer {
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.no-cssanimations .cd-transition-layer {
  display: none;
}

/* -------------------------------- 

Scrub Effect

-------------------------------- */
.scrub-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/scrub.png);
}
.scrub-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.scrub-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}

/* -------------------------------- 

Fire Extinguisher Effect

-------------------------------- */

.extinguisher-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/extinguisher.png);
}
.extinguisher-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.extinguisher-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}

/* -------------------------------- 

Glitch Effect

-------------------------------- */

.glitch-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/glitch.png);
}
.glitch-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.glitch-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}

/* -------------------------------- 

Scribble Effect

-------------------------------- */

.scribble-transition .cd-transition-layer .bg-layer {
  -webkit-transform: translateY(-50%) translateX(-1.3158%);
          transform: translateY(-50%) translateX(-1.3158%);
  /* sprite composed of 38 frames */
  width: 3800%;
  background-image: url(../img/scribble.png);
}
.scribble-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence-2 0.8s steps(37) forwards;
          animation: cd-sequence-2 0.8s steps(37) forwards;
}
.scribble-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence-2 0.8s steps(37) forwards reverse;
          animation: cd-sequence-2 0.8s steps(37) forwards reverse;
}
.scribble-transition .cd-transition-layer.visible .bg-layer {
  -webkit-transform: translateY(-50%) translateX(-98.6842%);
          transform: translateY(-50%) translateX(-98.6842%);
}

/* -------------------------------- 

Gummy Effect

-------------------------------- */

.gummy-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/gummy.png);
}
.gummy-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.gummy-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}

/* -------------------------------- 

Gooey Effect

-------------------------------- */

.gooey-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/gooey.png);
}
.gooey-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.gooey-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}

/* -------------------------------- 

Mirror Effect

-------------------------------- */

.mirror-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/mirror.png);
}
.mirror-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.mirror-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}

/* -------------------------------- 

Diamond Effect

-------------------------------- */

.diamond-transition .cd-transition-layer .bg-layer {
  -webkit-transform: translateY(-50%) translateX(-2.5%);
          transform: translateY(-50%) translateX(-2.5%);
  /* sprite composed of 20 frames */
  width: 2000%;
  background-image: url(../img/diamond.png);
}
.diamond-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence-3 0.8s steps(19) forwards;
          animation: cd-sequence-3 0.8s steps(19) forwards;
}
.diamond-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence-3 0.8s steps(19) forwards reverse;
          animation: cd-sequence-3 0.8s steps(19) forwards reverse;
}
.diamond-transition .cd-transition-layer.visible .bg-layer {
  -webkit-transform: translateY(-50%) translateX(-97.5%);
          transform: translateY(-50%) translateX(-97.5%);
}

/* -------------------------------- 

Cartoon Effect

-------------------------------- */

.cartoon-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/cartoon.png);
}
.cartoon-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.cartoon-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}

/* -------------------------------- 

Clones Effect

-------------------------------- */

.clones-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/clones.png);
}
.clones-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.clones-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}

/* -------------------------------- 

Kaleidoscope Effect

-------------------------------- */

.kaleidoscope-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(../img/kaleidoscope.png);
}
.kaleidoscope-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
          animation: cd-sequence 0.8s steps(24) forwards;
}
.kaleidoscope-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
          animation: cd-sequence 0.8s steps(24) forwards reverse;
}
@media only screen and (min-width: 768px) {
  .kaleidoscope-transition h1 {
    font-size: 7.2rem;
  }
  .kaleidoscope-transition h2 {
    font-size: 5.6rem;
  }
}

/* -------------------------------- 

Animations

-------------------------------- */
@-webkit-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
            transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
            transform: translateY(-50%) translateX(-98%);
  }
}
@keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
            transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
            transform: translateY(-50%) translateX(-98%);
  }
}
@-webkit-keyframes cd-sequence-2 {
  0% {
    -webkit-transform: translateY(-50%) translateX(-1.3158%);
            transform: translateY(-50%) translateX(-1.3158%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-98.6842%);
            transform: translateY(-50%) translateX(-98.6842%);
  }
}
@keyframes cd-sequence-2 {
  0% {
    -webkit-transform: translateY(-50%) translateX(-1.3158%);
            transform: translateY(-50%) translateX(-1.3158%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-98.6842%);
            transform: translateY(-50%) translateX(-98.6842%);
  }
}
@-webkit-keyframes cd-sequence-3 {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2.5%);
            transform: translateY(-50%) translateX(-2.5%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-97.5%);
            transform: translateY(-50%) translateX(-97.5%);
  }
}
@keyframes cd-sequence-3 {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2.5%);
            transform: translateY(-50%) translateX(-2.5%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-97.5%);
            transform: translateY(-50%) translateX(-97.5%);
  }
}
