*{
  border: none;
  text-decoration: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 10vh;
  background-color: rgba(249,173,10,255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-logo img{
  width: 25vh;
  height: 8vh;
}

.navbar-tengah{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:bold;
  font-size: small;
}

.navbar-tengah ul, .navbar-kanan ul{
  list-style: none;
}

.navbar-tengah li, .navbar-kanan li{
  display: inline-block;
  padding: 0 4vh;
  color: white;
}

.navbar-tengah a{
  color: white;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  height: 100%;
  padding: 15vh 0 0 0;
}

.konten{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vh;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}

.konten button{
    padding: 1vh 3vh;
    background-color: #ffac0c;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.konten img{
  width: 40vh;
  height: 40vh;
  border-radius: 5px;
}

.konten-2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 150vh;
  text-align: center;
  gap: 5vh;
}

.konten-2 button{
  padding: 1vh 3vh;
  background-color: #ffac0c;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.konten-2 img{
width: 40vh;
height: 40vh;
border-radius: 5px;
}

.deskripsi{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2vh;
}

/* animated transition */
  
  /* Transition Layer */
  .cd-transition-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }
  .cd-transition-layer .bg-layer {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-2%);
            transform: translateY(-50%) translateX(-2%);
    /* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .cd-transition-layer.visible {
    opacity: 1;
    visibility: visible;
  }
  .cd-transition-layer.visible .bg-layer {
    -webkit-transform: translateY(-50%) translateX(-98%);
            transform: translateY(-50%) translateX(-98%);
  }
  .cd-transition-layer.opening .bg-layer, .cd-transition-layer.closing .bg-layer {
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .no-cssanimations .cd-transition-layer {
    display: none;
  }
  
  /* -------------------------------- 
  
  Scrub Effect
  
  -------------------------------- */
  .scrub-transition .cd-transition-layer .bg-layer {
    /* sprite composed of 25 frames */
    width: 2500%;
    background-image: url(../img/scrub.png);
  }
  .scrub-transition .cd-transition-layer.opening .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards;
            animation: cd-sequence 0.8s steps(24) forwards;
  }
  .scrub-transition .cd-transition-layer.closing .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
            animation: cd-sequence 0.8s steps(24) forwards reverse;
  }
  
  /* -------------------------------- 
  
  Fire Extinguisher Effect
  
  -------------------------------- */
  
  .extinguisher-transition .cd-transition-layer .bg-layer {
    /* sprite composed of 25 frames */
    width: 2500%;
    background-image: url(../img/extinguisher.png);
  }
  .extinguisher-transition .cd-transition-layer.opening .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards;
            animation: cd-sequence 0.8s steps(24) forwards;
  }
  .extinguisher-transition .cd-transition-layer.closing .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
            animation: cd-sequence 0.8s steps(24) forwards reverse;
  }
  
  /* -------------------------------- 
  
  Glitch Effect
  
  -------------------------------- */
  
  .glitch-transition .cd-transition-layer .bg-layer {
    /* sprite composed of 25 frames */
    width: 2500%;
    background-image: url(../img/glitch.png);
  }
  .glitch-transition .cd-transition-layer.opening .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards;
            animation: cd-sequence 0.8s steps(24) forwards;
  }
  .glitch-transition .cd-transition-layer.closing .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
            animation: cd-sequence 0.8s steps(24) forwards reverse;
  }
  
  /* -------------------------------- 
  
  Scribble Effect
  
  -------------------------------- */
  
  .scribble-transition .cd-transition-layer .bg-layer {
    -webkit-transform: translateY(-50%) translateX(-1.3158%);
            transform: translateY(-50%) translateX(-1.3158%);
    /* sprite composed of 38 frames */
    width: 3800%;
    background-image: url(../img/scribble.png);
  }
  .scribble-transition .cd-transition-layer.opening .bg-layer {
    -webkit-animation: cd-sequence-2 0.8s steps(37) forwards;
            animation: cd-sequence-2 0.8s steps(37) forwards;
  }
  .scribble-transition .cd-transition-layer.closing .bg-layer {
    -webkit-animation: cd-sequence-2 0.8s steps(37) forwards reverse;
            animation: cd-sequence-2 0.8s steps(37) forwards reverse;
  }
  .scribble-transition .cd-transition-layer.visible .bg-layer {
    -webkit-transform: translateY(-50%) translateX(-98.6842%);
            transform: translateY(-50%) translateX(-98.6842%);
  }
  
  /* -------------------------------- 
  
  Gummy Effect
  
  -------------------------------- */
  
  .gummy-transition .cd-transition-layer .bg-layer {
    /* sprite composed of 25 frames */
    width: 2500%;
    background-image: url(../img/gummy.png);
  }
  .gummy-transition .cd-transition-layer.opening .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards;
            animation: cd-sequence 0.8s steps(24) forwards;
  }
  .gummy-transition .cd-transition-layer.closing .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
            animation: cd-sequence 0.8s steps(24) forwards reverse;
  }
  
  /* -------------------------------- 
  
  Gooey Effect
  
  -------------------------------- */
  
  .gooey-transition .cd-transition-layer .bg-layer {
    /* sprite composed of 25 frames */
    width: 2500%;
    background-image: url(../img/gooey.png);
  }
  .gooey-transition .cd-transition-layer.opening .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards;
            animation: cd-sequence 0.8s steps(24) forwards;
  }
  .gooey-transition .cd-transition-layer.closing .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
            animation: cd-sequence 0.8s steps(24) forwards reverse;
  }
  
  /* -------------------------------- 
  
  Mirror Effect
  
  -------------------------------- */
  
  .mirror-transition .cd-transition-layer .bg-layer {
    /* sprite composed of 25 frames */
    width: 2500%;
    background-image: url(../img/mirror.png);
  }
  .mirror-transition .cd-transition-layer.opening .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards;
            animation: cd-sequence 0.8s steps(24) forwards;
  }
  .mirror-transition .cd-transition-layer.closing .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
            animation: cd-sequence 0.8s steps(24) forwards reverse;
  }
  
  /* -------------------------------- 
  
  Diamond Effect
  
  -------------------------------- */
  
  .diamond-transition .cd-transition-layer .bg-layer {
    -webkit-transform: translateY(-50%) translateX(-2.5%);
            transform: translateY(-50%) translateX(-2.5%);
    /* sprite composed of 20 frames */
    width: 2000%;
    background-image: url(../img/diamond.png);
  }
  .diamond-transition .cd-transition-layer.opening .bg-layer {
    -webkit-animation: cd-sequence-3 0.8s steps(19) forwards;
            animation: cd-sequence-3 0.8s steps(19) forwards;
  }
  .diamond-transition .cd-transition-layer.closing .bg-layer {
    -webkit-animation: cd-sequence-3 0.8s steps(19) forwards reverse;
            animation: cd-sequence-3 0.8s steps(19) forwards reverse;
  }
  .diamond-transition .cd-transition-layer.visible .bg-layer {
    -webkit-transform: translateY(-50%) translateX(-97.5%);
            transform: translateY(-50%) translateX(-97.5%);
  }
  
  /* -------------------------------- 
  
  Cartoon Effect
  
  -------------------------------- */
  
  .cartoon-transition .cd-transition-layer .bg-layer {
    /* sprite composed of 25 frames */
    width: 2500%;
    background-image: url(../img/cartoon.png);
  }
  .cartoon-transition .cd-transition-layer.opening .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards;
            animation: cd-sequence 0.8s steps(24) forwards;
  }
  .cartoon-transition .cd-transition-layer.closing .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
            animation: cd-sequence 0.8s steps(24) forwards reverse;
  }
  
  /* -------------------------------- 
  
  Clones Effect
  
  -------------------------------- */
  
  .clones-transition .cd-transition-layer .bg-layer {
    /* sprite composed of 25 frames */
    width: 2500%;
    background-image: url(../img/clones.png);
  }
  .clones-transition .cd-transition-layer.opening .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards;
            animation: cd-sequence 0.8s steps(24) forwards;
  }
  .clones-transition .cd-transition-layer.closing .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
            animation: cd-sequence 0.8s steps(24) forwards reverse;
  }
  
  /* -------------------------------- 
  
  Kaleidoscope Effect
  
  -------------------------------- */
  
  .kaleidoscope-transition .cd-transition-layer .bg-layer {
    /* sprite composed of 25 frames */
    width: 2500%;
    background-image: url(../img/kaleidoscope.png);
  }
  .kaleidoscope-transition .cd-transition-layer.opening .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards;
            animation: cd-sequence 0.8s steps(24) forwards;
  }
  .kaleidoscope-transition .cd-transition-layer.closing .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
            animation: cd-sequence 0.8s steps(24) forwards reverse;
  }
  @media only screen and (min-width: 768px) {
    .kaleidoscope-transition h1 {
      font-size: 7.2rem;
    }
    .kaleidoscope-transition h2 {
      font-size: 5.6rem;
    }
  }
  
  /* -------------------------------- 
  
  Animations
  
  -------------------------------- */
  @-webkit-keyframes cd-sequence {
    0% {
      /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
      -webkit-transform: translateY(-50%) translateX(-2%);
              transform: translateY(-50%) translateX(-2%);
    }
    100% {
      /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
      -webkit-transform: translateY(-50%) translateX(-98%);
              transform: translateY(-50%) translateX(-98%);
    }
  }
  @keyframes cd-sequence {
    0% {
      /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
      -webkit-transform: translateY(-50%) translateX(-2%);
              transform: translateY(-50%) translateX(-2%);
    }
    100% {
      /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
      -webkit-transform: translateY(-50%) translateX(-98%);
              transform: translateY(-50%) translateX(-98%);
    }
  }
  @-webkit-keyframes cd-sequence-2 {
    0% {
      -webkit-transform: translateY(-50%) translateX(-1.3158%);
              transform: translateY(-50%) translateX(-1.3158%);
    }
    100% {
      -webkit-transform: translateY(-50%) translateX(-98.6842%);
              transform: translateY(-50%) translateX(-98.6842%);
    }
  }
  @keyframes cd-sequence-2 {
    0% {
      -webkit-transform: translateY(-50%) translateX(-1.3158%);
              transform: translateY(-50%) translateX(-1.3158%);
    }
    100% {
      -webkit-transform: translateY(-50%) translateX(-98.6842%);
              transform: translateY(-50%) translateX(-98.6842%);
    }
  }
  @-webkit-keyframes cd-sequence-3 {
    0% {
      -webkit-transform: translateY(-50%) translateX(-2.5%);
              transform: translateY(-50%) translateX(-2.5%);
    }
    100% {
      -webkit-transform: translateY(-50%) translateX(-97.5%);
              transform: translateY(-50%) translateX(-97.5%);
    }
  }
  @keyframes cd-sequence-3 {
    0% {
      -webkit-transform: translateY(-50%) translateX(-2.5%);
              transform: translateY(-50%) translateX(-2.5%);
    }
    100% {
      -webkit-transform: translateY(-50%) translateX(-97.5%);
              transform: translateY(-50%) translateX(-97.5%);
    }
  }
  